<div>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <h2>Register</h2>
  <%= form_with url: "/users", method: :post do |form| %>
    <label for="user_username">Username</label>:
    <%= form.text_field :username %><br>
    <label for="user_password">Password</label>:
    <%= form.password_field :password %><br>
    <label for="user_name">Name</label>:
    <%= form.text_field :name %><br>
    <%= form.submit "Register" %><br>
  <% end %>
</div>
