<div>
  <h2><%= @members.map { |member| member.name }.join(" - ") %></h2>

  <div id="chat_list">
    <% if @chats.blank? %>
      <p id="no_message">..... No message .....</p>
    <% else %>
      <% @chats.each do |c| %>
        <ul>
          <% if c.sender_id == @user.id %>
            ..........
          <% end %>
          <%= c.message %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <%= form_with model: Chat.new do |form| %>
    <label for="chat_message">Message</label>:
    <%= form.text_field :message %>
    <%= form.hidden_field :room_id, value: @room.id %>
    <%= form.submit "Submit", data: { disable_with: false } %>
  <% end %>
</div>
